//Farver
$primær-farve: #FFFADF;
$detalje-farve: #FF4D00;
$off-white: #FAFAFA;
$off-black: #333333;

//Border-radius
$box-border-radius: 5px;

//Hero højde
$hero-højde: 600px;

//CTA
@mixin cta($background-color: #333333, $color: #FAFAFA) {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: $background-color;
    color: $color;
    width: fit-content;
    text-decoration: none;
    box-shadow: 0 0 #FF4D00;
    transition: all 0.1s;

        &:hover {
            transform: translate(2px, -2px);
            box-shadow: -4px 4px #FF4D00;
        }
}

//Padding______________________________________________
//Responsiv padding
@mixin responsive-padding {
    padding-left: 100px;
    padding-right: 100px;

    @media screen and (max-width: 1100px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media screen and (max-width: 700px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

//Kun venstre padding
@mixin responsive-padding-left {
    padding-left: 100px;

        @media screen and (max-width: 1100px) {
            padding-left: 50px;
        }
        @media screen and (max-width: 700px) {
            padding-left: 10px;
        }
}

//kun højre padding
@mixin responsive-padding-right {
    padding-right: 100px;

        @media screen and (max-width: 1100px) {
            padding-right: 50px;
        }
        @media screen and (max-width: 700px) {
            padding-right: 10px;
        }
}

//Responsiv padding med 0px til mobil 
@mixin responsive-padding-billede {
    padding-left: 100px;
    padding-right: 100px;

    @media screen and (max-width: 1100px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media screen and (max-width: 700px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

//Responsive margin med 0px til mobil
@mixin responsive-margin-billede {
    margin-left: 100px;
    margin-right: 100px;

    @media screen and (max-width: 1100px) {
        margin-left: 50px;
        margin-right: 50px;
    }

    @media screen and (max-width: 700px) {
        margin-left: 0;
        margin-right: 0;
    }
}

//Responsive margin
@mixin responsive-margin {
    margin-left: 100px;
    margin-right: 100px;

    @media screen and (max-width: 1100px) {
        margin-left: 50px;
        margin-right: 50px;
    }

    @media screen and (max-width: 700px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

//Grid____________________________________________
@mixin grid-2-columns-big-left {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}
@mixin grid-2-columns-big-right {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 50px;
}

//Mobil billede højde____________________________
@mixin mobil-billede-højde {
    @media screen and (max-width: 700px) {
        height: 300px;
    }
}

//Tekst boks
@mixin tekst-boks($max-width: 500px) {
    background-color: $off-white;
    border: 1px solid $off-black;
    border-radius: 5px;
    padding: 50px;
    max-width: $max-width;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media screen and (max-width: 700px) {
        padding: 10px;
    }
}

@mixin display-cases-styling {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

    @media screen and (max-width: 700px) {
        flex-direction: column;
    }

        .project {
            width: calc(50% - 25px);
            height: 450px;
            border: 1px solid black;
            display: grid;
            grid-template-rows: minmax(0, 1fr) auto;
            grid-template-columns: 1fr;
            box-shadow: 0 0 0 0 $detalje-farve;
            border-radius: 5px;
            overflow: hidden; //pga border-radius på container
            transition: transform 0.2s, box-shadow 0.2s;

            @media screen and (max-width: 700px) {
                width: 100%;
            }

            &:hover {
                transform: translate(5px, -5px);
                box-shadow: -10px 10px 0px 0px $detalje-farve;
            }

                .project-img-container {
                    grid-row: 1/2;
                    grid-column: 1/2;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                }

                .project-window-text {
                    all: unset;
                    cursor: pointer;
                    grid-row: 2/3;
                    grid-column: 1/2;
                    height: 100%;
                    border-radius: 0 0 5px 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    gap: 10px;
                    padding: 20px;
                    height: fit-content;
                    color: $off-white;
                    background-color: $off-black;

                    @media screen and (max-width: 700px) {
                        padding: 10px;
                    }
                    
                        p {
                            transition: transform 0.3s;
                        }

                        p:nth-of-type(1) {
                            font-size: 2em;
                            font-weight: bold;
                        }
                        p:nth-of-type(3) {
                            position: absolute;
                            visibility: hidden;
                        }
                }

                &:hover {
                    .project-window-text {
                        height: 100%;
                        grid-row: 1/3;
                        background-color: rgba(255, 255, 255, 0.9);
                        color: black;
                        justify-content: center;
                        border-radius: 5px;
                        
                            p {
                                transform: translateY(-20px);

                                @media screen and (max-width: 700px) {
                                    transform: translateY(-10px);
                                }
                            }
                            p:nth-of-type(3) {
                                position: initial;
                                visibility: visible;
                            }
                    }
                    .project-img-container {
                        grid-row: 1/3
                    }
                }
        }
}