//Farver
$primær-farve: #FFFADF;
$detalje-farve: #FF4D00;
$off-white: #FAFAFA;
$off-black: #333333;

//Border-radius
$box-border-radius: 5px;

//Hero højde
$hero-højde: 600px;

//CTA
@mixin cta($background-color: #333333, $color: #FAFAFA) {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: $background-color;
    color: $color;
    width: fit-content;
    text-decoration: none;
    box-shadow: 0 0 #FF4D00;
    transition: all 0.1s;

        &:hover {
            transform: translate(2px, -2px);
            box-shadow: -4px 4px #FF4D00;
        }
}

//Padding______________________________________________
//Responsiv padding
@mixin responsive-padding {
    padding-left: 100px;
    padding-right: 100px;

    @media screen and (max-width: 1100px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media screen and (max-width: 700px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

//Kun venstre padding
@mixin responsive-padding-left {
    padding-left: 100px;

        @media screen and (max-width: 1100px) {
            padding-left: 50px;
        }
        @media screen and (max-width: 700px) {
            padding-left: 10px;
        }
}

//kun højre padding
@mixin responsive-padding-right {
    padding-right: 100px;

        @media screen and (max-width: 1100px) {
            padding-right: 50px;
        }
        @media screen and (max-width: 700px) {
            padding-right: 10px;
        }
}

//Responsiv padding med 0px til mobil 
@mixin responsive-padding-billede {
    padding-left: 100px;
    padding-right: 100px;

    @media screen and (max-width: 1100px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media screen and (max-width: 700px) {
        padding-left: 0px;
        padding-right: 0px;
    }
}

//Responsive margin med 0px til mobil
@mixin responsive-margin-billede {
    margin-left: 100px;
    margin-right: 100px;

    @media screen and (max-width: 1100px) {
        margin-left: 50px;
        margin-right: 50px;
    }

    @media screen and (max-width: 700px) {
        margin-left: 0;
        margin-right: 0;
    }
}

//Responsive margin
@mixin responsive-margin {
    margin-left: 100px;
    margin-right: 100px;

    @media screen and (max-width: 1100px) {
        margin-left: 50px;
        margin-right: 50px;
    }

    @media screen and (max-width: 700px) {
        margin-left: 10px;
        margin-right: 10px;
    }
}

//Grid____________________________________________
@mixin grid-2-columns-big-left {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}
@mixin grid-2-columns-big-right {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 50px;
}

//Mobil billede højde____________________________
@mixin mobil-billede-højde {
    @media screen and (max-width: 700px) {
        height: 300px;
    }
}

//Tekst boks
@mixin tekst-boks($max-width: 500px) {
    background-color: $off-white;
    border: 1px solid $off-black;
    border-radius: 5px;
    padding: 50px;
    max-width: $max-width;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media screen and (max-width: 700px) {
        padding: 10px;
    }
}