@use 'partial';
/* 
Kald på variabel: partial.$variabel-navn;
Kald på mixin: @include partial.mixin-navn;
*/

//Imported fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    color: partial.$off-black;
}

//Fonts
p {
    font-size: 1rem;
}
h1 {
    font-size: 2rem;
    word-break: break-word;
}
h2 {
    font-size: 1.8rem;
    word-break: break-word;
}
h3 {
    font-size: 1.6rem;
    word-break: break-word;
}

//Yderste grid til justering af max-width
.ygrid {
    display: grid;
    grid-template-columns: 0 1fr 0;

    @media screen and (min-width: 1700px) {
        grid-template-columns: 1fr 1700px 1fr;
    }

        .content {
            grid-column: 2/3;
        }
}

//Page flex column under hero
.page-flex-column {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 50px;
}

//Body
body {
    background-color: partial.$primær-farve;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 50px 1fr 300px;

        //Header
        header {
            grid-row: 1/2;

                //Header container
                #header-container {
                    @include partial.responsive-padding;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                        //Home icon
                        #home-icon {
                            height: 2rem;
                        }

                        //Global navigation
                        #global-nav {
                            display: flex;
                            gap: 50px;

                            @media screen and (max-width: 700px) {
                                display: none;
                            }
                                
                                a {
                                    text-decoration: none;
                                    color: partial.$off-black;

                                        &:hover {
                                            color: partial.$detalje-farve;
                                        }
                                }
                        }

                        //Burgermenu
                        #burger-menu {
                            display: none;

                            @media screen and (max-width: 700px) {
                                display: flex;
                            }

                                #hamburger-ikon {
                                    height: 1.5em;
                                    cursor: pointer;
                                }

                                #burger-nav {
                                    //Har display: none i js
                                    z-index: 3;
                                    position: absolute;
                                    top: 50px;
                                    right: 0;
                                    left: 0;
                                    bottom: 0;
                                    padding: 50px;
                                    background-color: partial.$detalje-farve;
                                    font-size: 1.2em;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 50px;
                                    align-items: end;

                                        a {
                                            text-decoration: none;
                                            color: partial.$off-black;
                                        }
                                }
                        }
                }
        }

        //Main
        main {
            grid-row: 2/3;

                //Forside
                //Hero
                #forside-hero {
                    position: relative;
                    height: 600px;
                    display: flex;
                    justify-content: end;
                    align-items: end;

                    @media screen and (max-width: 700px) {
                        flex-direction: column;
                        height: auto;
                    }

                        //Hero billede
                        .hero-img-container {
                            position: absolute;
                            width: 100%;
                            height: 100%;

                            @media screen and (max-width: 700px) {
                                position: initial;
                                height: 300px;
                            }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                        }

                        //Hero tekst-container
                        #hero-tekst-container {
                            @include partial.tekst-boks;
                            z-index: 1;
                            margin-bottom: 50px;
                            @include partial.responsive-margin-billede;

                            @media screen and (max-width: 700px) {
                                max-width: none;
                                width: 100%;
                                margin-bottom: 0;
                                border-radius: 0;
                                //border: none;
                            }

                                #hero-personlig-info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                }

                                a {
                                    @include partial.cta;
                                }
                        }
                }

                //Seneste cases
                #seneste-cases {
                    @include partial.responsive-padding;
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                        #seneste-cases-container {
                            display: flex;
                            gap: 50px;

                            @media screen and (max-width: 700px) {
                                flex-direction: column;
                            }

                                .project {
                                    flex: 1;
                                    cursor: pointer;
                                    width: calc(50% - 25px);
                                    min-height: 450px;
                                    max-height: 450px;
                                    border: 1px solid black;
                                    display: grid;
                                    grid-template-rows: minmax(0, 1fr) auto;
                                    grid-template-columns: 1fr;
                                    box-shadow: 0 0 0 0 partial.$detalje-farve;
                                    border-radius: 5px;
                                    overflow: hidden; //pga border-radius på container
                                    transition: transform 0.2s, box-shadow 0.2s;

                                    @media screen and (max-width: 700px) {
                                        width: 100%;
                                        //height: 450px;
                                    }

                                    &:hover {
                                        transform: translate(5px, -5px);
                                        box-shadow: -10px 10px 0px 0px partial.$detalje-farve;
                                        max-height: fit-content;
                                    }

                                        .project-img-container {
                                            grid-row: 1/2;
                                            grid-column: 1/2;

                                                img {
                                                    height: 100%;
                                                    width: 100%;
                                                    object-fit: cover;
                                                    object-position: center;
                                                }
                                        }
                        
                                        .project-window-text {
                                            grid-row: 2/3;
                                            grid-column: 1/2;
                                            border-radius: 0 0 5px 5px;
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: end;
                                            gap: 10px;
                                            padding: 20px;
                                            width: 100%;
                                            height: fit-content;
                                            color: partial.$off-black;
                                            background-color: partial.$off-white;

                                            @media screen and (max-width: 700px) {
                                                padding: 10px;
                                            }
                                            
                        
                                                p {
                                                    transition: transform 0.3s;
                                                }
                        
                                                p:nth-of-type(1) {
                                                    font-size: 2em;
                                                    font-weight: bold;
                                                }
                                                p:nth-of-type(3) {
                                                    position: absolute;
                                                    visibility: hidden;
                                                }
                                        }
                        
                                        &:hover {
                                            .project-window-text {
                                                height: 100%;
                                                grid-row: 1/3;
                                                background-color: rgba(0, 0, 0, 0.8);
                                                color: white;
                                                justify-content: center;
                                                border-radius: 5px;
                                                
                                                    p {
                                                        transform: translateY(-20px);

                                                        @media screen and (max-width: 700px) {
                                                            transform: translateY(-10px);
                                                        }
                                                    }
                                                    p:nth-of-type(3) {
                                                        position: initial;
                                                        visibility: visible;
                                                    }
                                            }
                                            .project-img-container {
                                                grid-row: 1/3
                                            }
                                        }
                                }
                        }

                        a {
                            @include partial.cta;
                        }
                }

                //Om mig forside
                #om-mig-forside {
                    @include partial.responsive-margin;
                    height: 600px;
                    position: relative;

                        #om-mig-forside-img-container {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: calc(100% - 50px);
                            height: calc(100% - 50px);

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                        }
                        #om-mig-forside-tekst-boks {
                            position: absolute;
                            top: 0;
                            right: 0;
                            @include partial.tekst-boks;

                            @media screen and (max-width: 950px) {
                                max-width: 50%;
                            }
                            @media screen and (max-width: 700px) {
                                width: 100%;
                                max-width: calc(100% - 50px);
                            }

                                a {
                                    @include partial.cta;
                                }
                        }
                }

                //Kontakt forside
                #kontakt-forside {
                    @include partial.responsive-margin;
                    height: 600px;
                    position: relative;

                        #kontakt-forside-img-container {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: calc(100% - 50px);
                            height: calc(100% - 50px);

                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    object-position: center;

                                    @media screen and (max-width: 700px) {
                                        object-position: bottom;
                                    }
                                }
                        }
                        #kontakt-forside-tekst-boks {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            @include partial.tekst-boks;

                            @media screen and (max-width: 950px) {
                                max-width: 50%;
                            }
                            @media screen and (max-width: 700px) {
                                width: 100%;
                                max-width: calc(100% - 50px);
                            }

                                a {
                                    @include partial.cta;
                                }
                        }
                }

                //Om mig
                //Hero
                #om-mig-hero {
                    height: 600px;
                    position: relative;
                    display: flex;
                    align-items: end;

                    @media screen and (max-width: 700px) {
                        height: auto;
                        flex-direction: column;
                        background-color: red;
                    }

                        .hero-img-container {
                            position: absolute;
                            height: 100%;
                            width: 100%;

                            @media screen and (max-width: 700px) {
                                position: initial;
                                height: 300px;
                            }

                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                        }

                        #om-hero-tekst-boks {
                            @include partial.tekst-boks;
                            z-index: 1;
                            @include partial.responsive-margin-billede;
                            margin-bottom: 50px;

                            @media screen and (max-width: 700px) {
                                max-width: none;
                                margin-bottom: 0;
                                width: 100%;
                                border-radius: 0;
                            }
                        }
                }

                //Video
                #video-container {
                    @include partial.responsive-padding;
                    display: flex;
                    justify-content: center;
                    
                        video {
                            width: 100%;
                            max-width: 900px;
                            border: 1px solid partial.$off-black;
                            border-radius: partial.$box-border-radius;
                        }
                }

                //Om mig sektion 1
                #om-mig-fritid {
                    @include partial.responsive-padding;
                    @include partial.grid-2-columns-big-left;
                    height: 1100px;

                    @media screen and (max-width: 1100px) {
                        height: 800px;
                    }
                    @media screen and (max-width: 700px) {
                        grid-template-columns: 1fr;
                        grid-template-rows: 800px auto;
                        gap: 0;
                        position: relative;
                        height: auto;
                    }

                        #fritid-img-grid {
                            grid-column: 1/2;
                            height: 100%;
                            position: relative;

                            @media screen and (max-width: 700px) {
                                grid-row: 1/2;
                            }
                            
                                div:nth-of-type(1) {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    height: 500px;
                                    width: calc(100% - 100px);
                                    max-width: 400px;
                                    z-index: 3;
                                    border: 1px solid partial.$off-black;
                                    border-radius: partial.$box-border-radius;

                                    @media screen and (max-width: 1100px) {
                                        height: 400px;
                                        left: 0;
                                        right: initial;
                                    }

                                        img {
                                            height: 100%;
                                            width: 100%;
                                            object-fit: cover;
                                            object-position: center;
                                        }
                                }
                                div:nth-of-type(2) {
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    height: 400px;
                                    width: calc(100% - 100px);
                                    z-index: 2;
                                    border: 1px solid partial.$off-black;
                                    border-radius: partial.$box-border-radius;

                                    @media screen and (max-width: 1100px) {
                                        height: 300px;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                    }

                                    img {
                                        height: 100%;
                                        width: 100%;
                                        object-fit: cover;
                                        object-position: bottom;
                                    }
                                }
                                div:nth-of-type(3) {
                                    position: absolute;
                                    bottom: 0;
                                    right: 50px;
                                    height: 500px;
                                    width: calc(100% - 100px);
                                    max-width: 400px;
                                    z-index: 1;
                                    border: 1px solid partial.$off-black;
                                    border-radius: partial.$box-border-radius;

                                    @media screen and (max-width: 1100px) {
                                        height: 350px;
                                        right: 0;
                                    }

                                    img {
                                        height: 100%;
                                        width: 100%;
                                        object-fit: cover;
                                        object-position: center;
                                    }
                                }
                        }
                        #fritid-tekst-boks {
                            grid-column: 2/3;
                            @include partial.tekst-boks;
                            align-self: center;

                            @media screen and (max-width: 700px) {
                                grid-column: 1/2;
                                grid-row: 2/3;
                                margin-top: -50px;
                                max-width: none;
                                width: calc(100% - 10px);
                                z-index: 2;
                            }
                        }
                }

                //Om mig hospo
                #om-mig-hospo {
                    @include partial.responsive-padding;
                    @include partial.grid-2-columns-big-right;

                    @media screen and (max-width: 700px) {
                        grid-template-columns: 1fr;
                        grid-template-rows: auto auto;
                        gap: 0;
                    }

                        #hospo-tekst-boks {
                            grid-column: 1/2;
                            @include partial.tekst-boks;
                            align-self: center;

                            @media screen and (max-width: 700px) {
                                grid-row: 2/3;
                                grid-column: 1/2;
                                margin-top: -50px;
                                z-index: 4;
                                max-width: none;
                                justify-self: end;
                                width: calc(100% - 10px);
                            }
                        }
                        #hospo-img-grid {
                            grid-column: 2/3;
                            display: flex;
                            flex-direction: column;

                            @media screen and (max-width: 700px) {
                                grid-column: 1/2;
                                grid-row: 1/2;
                            }

                                div:nth-of-type(1) {
                                    justify-self: start;
                                    align-self: center;
                                    height: 400px;
                                    width: calc(100% - 100px);
                                    //max-width: 600px;
                                    z-index: 1;
                                    border: 1px solid partial.$off-black;
                                    border-radius: partial.$box-border-radius;

                                    @media screen and (max-width: 1100px) {
                                        align-self: end;
                                    }
                
                                        img {
                                            height: 100%;
                                            width: 100%;
                                            object-fit: cover;
                                            object-position: center;
                                        }
                                }
                                div:nth-of-type(2) {
                                    justify-self: center;
                                    align-self: end;
                                    height: 300px;
                                    width: calc(100% - 100px);
                                    margin-top: -100px;
                                    z-index: 2;
                                    border: 1px solid partial.$off-black;
                                    border-radius: partial.$box-border-radius;

                                    @media screen and (max-width: 1100px) {
                                        align-self: center;
                                    }

                                        img {
                                            height: 100%;
                                            width: 100%;
                                            object-fit: cover;
                                            object-position: center;
                                        }
                                }
                                div:nth-of-type(3) {
                                    justify-self: end;
                                    align-self: start;
                                    height: 350px;
                                    width: calc(100% - 100px);
                                    //max-width: 600px;
                                    margin-top: -100px;
                                    z-index: 3;
                                    border: 1px solid partial.$off-black;
                                    border-radius: partial.$box-border-radius;

                                        img {
                                            height: 100%;
                                            width: 100%;
                                            object-fit: cover;
                                            object-position: top;
                                        }
                                }
                        }
                }

                //Om mig - sidste tekst boks
                #om-sidste-tekst-boks {
                    @include partial.responsive-padding;
                    display: flex;
                    justify-content: center;

                        div {
                            @include partial.tekst-boks($max-width: 900px);
                        }
                }

                //Kontakt om side
                #kontakt-om-side {
                    @include partial.responsive-padding;
                    display: flex;
                    flex-direction: column;

                        #kontakt-om-side-img-container {
                            height: 550px;
                            width: calc(100% - 50px);
                            justify-self: start;
                            align-self: end;
                            z-index: 1;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                        }
                        #kontakt-om-side-tekst-boks {
                            @include partial.tekst-boks;
                            margin-top: -50px;
                            z-index: 2;

                            @media screen and (max-width: 700px) {
                                margin-right: 50px;
                            }

                                a {
                                    @include partial.cta;
                                }
                        }
                }

                //Cases side
                //Hero
                #cases-hero {
                    @include partial.responsive-padding;
                    display: flex;
                    margin-bottom: 50px;

                    @media screen and (max-width: 700px) {
                        flex-direction: column;
                    }

                        #cases-hero-heading {
                            margin-top: 50px;
                            margin-bottom: 50px;
                            padding: 50px;
                            max-height: fit-content;
                            max-width: fit-content;
                            border: 1px solid partial.$off-black;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            min-width: fit-content;
                            z-index: 1;

                            @media screen and (max-width: 700px) {
                                margin-bottom: 0;
                            }

                                #cases-author {
                                    display: flex;
                                    gap: 20px;
                                    align-items: center;
                                    margin-right: 50px;

                                    @media screen and (max-width: 700px) {
                                        margin-right: 0;
                                        margin-bottom: 25px;
                                    }

                                        #portræt-img-container {
                                            height: 5em;
                                            aspect-ratio: 1/1;
                                            border-radius: 50%;
                                            border: 1px solid partial.$off-black;
                                            overflow: hidden;

                                                img {
                                                    width: 100%;
                                                    height: 100%;
                                                    object-fit: cover;
                                                    object-position: center;
                                                }
                                        }
                                        p {
                                            font-size: 1.5em;
                                        }
                                }
                        }
                        #cases-hero-tekst-boks {
                            @include partial.tekst-boks($max-width: none);
                            align-self: end;
                            margin-left: -50px;
                            margin-top: 100px;
                            z-index: 2;

                            @media screen and (max-width: 700px) {
                                align-self: start;
                                margin-left: 50px;
                                margin-top: -50px;
                            }
                        }
                }

                //Alle cases container
                #alle-cases-container {
                    @include partial.responsive-padding;
                    display: flex;
                    gap: 50px;
                    flex-wrap: wrap;

                    @media screen and (max-width: 700px) {
                        flex-direction: column;
                    }

                        .project {
                            //flex: 1;
                            cursor: pointer;
                            width: calc(50% - 25px);
                            min-height: 450px;
                            max-height: 450px;
                            border: 1px solid black;
                            display: grid;
                            grid-template-rows: minmax(0, 1fr) auto;
                            grid-template-columns: 1fr;
                            box-shadow: 0 0 0 0 partial.$detalje-farve;
                            border-radius: 5px;
                            overflow: hidden; //pga border-radius på container
                            transition: transform 0.2s, box-shadow 0.2s;

                            @media screen and (max-width: 700px) {
                                width: 100%;
                                //height: 450px;
                            }

                            &:hover {
                                transform: translate(5px, -5px);
                                box-shadow: -10px 10px 0px 0px partial.$detalje-farve;
                                max-height: fit-content;
                            }

                                .project-img-container {
                                    grid-row: 1/2;
                                    grid-column: 1/2;

                                        img {
                                            height: 100%;
                                            width: 100%;
                                            object-fit: cover;
                                            object-position: center;
                                        }
                                }
                
                                .project-window-text {
                                    grid-row: 2/3;
                                    grid-column: 1/2;
                                    border-radius: 0 0 5px 5px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: end;
                                    gap: 10px;
                                    padding: 20px;
                                    width: 100%;
                                    height: fit-content;
                                    color: partial.$off-black;
                                    background-color: partial.$off-white;

                                    @media screen and (max-width: 700px) {
                                        padding: 10px;
                                    }
                                    
                
                                        p {
                                            transition: transform 0.3s;
                                        }
                
                                        p:nth-of-type(1) {
                                            font-size: 2em;
                                            font-weight: bold;
                                        }
                                        p:nth-of-type(3) {
                                            position: absolute;
                                            visibility: hidden;
                                        }
                                }
                
                                &:hover {
                                    .project-window-text {
                                        height: 100%;
                                        grid-row: 1/3;
                                        background-color: rgba(0, 0, 0, 0.8);
                                        color: white;
                                        justify-content: center;
                                        border-radius: 5px;
                                        
                                            p {
                                                transform: translateY(-20px);

                                                @media screen and (max-width: 700px) {
                                                    transform: translateY(-10px);
                                                }
                                            }
                                            p:nth-of-type(3) {
                                                position: initial;
                                                visibility: visible;
                                            }
                                    }
                                    .project-img-container {
                                        grid-row: 1/3
                                    }
                                }
                        }
                }

                //Cases kontakt
                #cases-kontakt {
                    @include partial.responsive-padding;
                    display: flex;
                    flex-direction: column;

                        #cases-kontakt-img-container {
                            width: calc(100% - 50px);
                            height: 550px;
                            z-index: 1;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                        }
                        #cases-kontakt-tekst-boks {
                            @include partial.tekst-boks;
                            align-self: end;
                            margin-top: -50px;
                            z-index: 2;

                                a {
                                    @include partial.cta;
                                }
                        }
                }

                //Kontakt side
                #kontakt-sektion {
                    @include partial.responsive-padding;
                    margin-top: 50px;
                    display: flex;
                    align-items: center;

                        #kontakt-img-container {
                            width: 50%;
                            aspect-ratio: 1/1;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                        }
                        #kontakt-tekst-boks {
                            @include partial.tekst-boks($max-width: none);
                            margin-left: -50px;

                                #contact-info {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 10px;
                                }
                        }
                }
        }

        //Footer
        footer {
            grid-row: 3/4;
        }
}







