@charset "UTF-8";
/* 
Kald på variabel: partial.$variabel-navn;
Kald på mixin: @include partial.mixin-navn;
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  color: #333333;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  word-break: break-word;
}

h2 {
  font-size: 1.8rem;
  word-break: break-word;
}

h3 {
  font-size: 1.6rem;
  word-break: break-word;
}

.ygrid {
  display: grid;
  grid-template-columns: 0 1fr 0;
}
@media screen and (min-width: 1700px) {
  .ygrid {
    grid-template-columns: 1fr 1700px 1fr;
  }
}
.ygrid .content {
  grid-column: 2/3;
}

.page-flex-column {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 50px;
}

body {
  background-color: #FFFADF;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 300px;
}
body header {
  grid-row: 1/2;
}
body header #header-container {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  body header #header-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body header #header-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body header #header-container #home-icon {
  height: 2rem;
}
body header #header-container #global-nav {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 700px) {
  body header #header-container #global-nav {
    display: none;
  }
}
body header #header-container #global-nav a {
  text-decoration: none;
  color: #333333;
}
body header #header-container #global-nav a:hover {
  color: #FF4D00;
}
body header #header-container #burger-menu {
  display: none;
}
@media screen and (max-width: 700px) {
  body header #header-container #burger-menu {
    display: flex;
  }
}
body header #header-container #burger-menu #hamburger-ikon {
  height: 1.5em;
  cursor: pointer;
}
body header #header-container #burger-menu #burger-nav {
  z-index: 3;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 50px;
  background-color: #FF4D00;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: end;
}
body header #header-container #burger-menu #burger-nav a {
  text-decoration: none;
  color: #333333;
}
body main {
  grid-row: 2/3;
}
body main #forside-hero {
  position: relative;
  height: 600px;
  display: flex;
  justify-content: end;
  align-items: end;
}
@media screen and (max-width: 700px) {
  body main #forside-hero {
    flex-direction: column;
    height: auto;
  }
}
body main #forside-hero .hero-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 700px) {
  body main #forside-hero .hero-img-container {
    position: initial;
    height: 300px;
  }
}
body main #forside-hero .hero-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #forside-hero #hero-tekst-container {
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 50px;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 1;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}
@media screen and (max-width: 700px) {
  body main #forside-hero #hero-tekst-container {
    padding: 10px;
  }
}
@media screen and (max-width: 1100px) {
  body main #forside-hero #hero-tekst-container {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #forside-hero #hero-tekst-container {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 700px) {
  body main #forside-hero #hero-tekst-container {
    max-width: none;
    width: 100%;
    margin-bottom: 0;
    border-radius: 0;
  }
}
body main #forside-hero #hero-tekst-container #hero-personlig-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main #forside-hero #hero-tekst-container a {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: #333333;
  color: #FAFAFA;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  box-shadow: 0 0 #FF4D00;
  transition: all 0.1s;
}
body main #forside-hero #hero-tekst-container a:hover {
  transform: translate(2px, -2px);
  box-shadow: -4px 4px #FF4D00;
}
body main #seneste-cases {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 1100px) {
  body main #seneste-cases {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #seneste-cases {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body main #seneste-cases #seneste-cases-container {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 700px) {
  body main #seneste-cases #seneste-cases-container {
    flex-direction: column;
  }
}
body main #seneste-cases #seneste-cases-container .project {
  flex: 1;
  cursor: pointer;
  width: calc(50% - 25px);
  min-height: 450px;
  max-height: 450px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  grid-template-columns: 1fr;
  box-shadow: 0 0 0 0 #FF4D00;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}
@media screen and (max-width: 700px) {
  body main #seneste-cases #seneste-cases-container .project {
    width: 100%;
  }
}
body main #seneste-cases #seneste-cases-container .project:hover {
  transform: translate(5px, -5px);
  box-shadow: -10px 10px 0px 0px #FF4D00;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
body main #seneste-cases #seneste-cases-container .project .project-img-container {
  grid-row: 1/2;
  grid-column: 1/2;
}
body main #seneste-cases #seneste-cases-container .project .project-img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #seneste-cases #seneste-cases-container .project .project-window-text {
  grid-row: 2/3;
  grid-column: 1/2;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  padding: 20px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  color: #333333;
  background-color: #FAFAFA;
}
@media screen and (max-width: 700px) {
  body main #seneste-cases #seneste-cases-container .project .project-window-text {
    padding: 10px;
  }
}
body main #seneste-cases #seneste-cases-container .project .project-window-text p {
  transition: transform 0.3s;
}
body main #seneste-cases #seneste-cases-container .project .project-window-text p:nth-of-type(1) {
  font-size: 2em;
  font-weight: bold;
}
body main #seneste-cases #seneste-cases-container .project .project-window-text p:nth-of-type(3) {
  position: absolute;
  visibility: hidden;
}
body main #seneste-cases #seneste-cases-container .project:hover .project-window-text {
  height: 100%;
  grid-row: 1/3;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  justify-content: center;
  border-radius: 5px;
}
body main #seneste-cases #seneste-cases-container .project:hover .project-window-text p {
  transform: translateY(-20px);
}
@media screen and (max-width: 700px) {
  body main #seneste-cases #seneste-cases-container .project:hover .project-window-text p {
    transform: translateY(-10px);
  }
}
body main #seneste-cases #seneste-cases-container .project:hover .project-window-text p:nth-of-type(3) {
  position: initial;
  visibility: visible;
}
body main #seneste-cases #seneste-cases-container .project:hover .project-img-container {
  grid-row: 1/3;
}
body main #seneste-cases a {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: #333333;
  color: #FAFAFA;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  box-shadow: 0 0 #FF4D00;
  transition: all 0.1s;
}
body main #seneste-cases a:hover {
  transform: translate(2px, -2px);
  box-shadow: -4px 4px #FF4D00;
}
body main #om-mig-forside {
  margin-left: 100px;
  margin-right: 100px;
  height: 600px;
  position: relative;
}
@media screen and (max-width: 1100px) {
  body main #om-mig-forside {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #om-mig-forside {
    margin-left: 10px;
    margin-right: 10px;
  }
}
body main #om-mig-forside #om-mig-forside-img-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
}
body main #om-mig-forside #om-mig-forside-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #om-mig-forside #om-mig-forside-tekst-boks {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 50px;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (max-width: 700px) {
  body main #om-mig-forside #om-mig-forside-tekst-boks {
    padding: 10px;
  }
}
@media screen and (max-width: 950px) {
  body main #om-mig-forside #om-mig-forside-tekst-boks {
    max-width: 50%;
  }
}
@media screen and (max-width: 700px) {
  body main #om-mig-forside #om-mig-forside-tekst-boks {
    width: 100%;
    max-width: calc(100% - 50px);
  }
}
body main #om-mig-forside #om-mig-forside-tekst-boks a {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: #333333;
  color: #FAFAFA;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  box-shadow: 0 0 #FF4D00;
  transition: all 0.1s;
}
body main #om-mig-forside #om-mig-forside-tekst-boks a:hover {
  transform: translate(2px, -2px);
  box-shadow: -4px 4px #FF4D00;
}
body main #kontakt-forside {
  margin-left: 100px;
  margin-right: 100px;
  height: 600px;
  position: relative;
}
@media screen and (max-width: 1100px) {
  body main #kontakt-forside {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #kontakt-forside {
    margin-left: 10px;
    margin-right: 10px;
  }
}
body main #kontakt-forside #kontakt-forside-img-container {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 50px);
  height: calc(100% - 50px);
}
body main #kontakt-forside #kontakt-forside-img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (max-width: 700px) {
  body main #kontakt-forside #kontakt-forside-img-container img {
    -o-object-position: bottom;
       object-position: bottom;
  }
}
body main #kontakt-forside #kontakt-forside-tekst-boks {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 50px;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (max-width: 700px) {
  body main #kontakt-forside #kontakt-forside-tekst-boks {
    padding: 10px;
  }
}
@media screen and (max-width: 950px) {
  body main #kontakt-forside #kontakt-forside-tekst-boks {
    max-width: 50%;
  }
}
@media screen and (max-width: 700px) {
  body main #kontakt-forside #kontakt-forside-tekst-boks {
    width: 100%;
    max-width: calc(100% - 50px);
  }
}
body main #kontakt-forside #kontakt-forside-tekst-boks a {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: #333333;
  color: #FAFAFA;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  box-shadow: 0 0 #FF4D00;
  transition: all 0.1s;
}
body main #kontakt-forside #kontakt-forside-tekst-boks a:hover {
  transform: translate(2px, -2px);
  box-shadow: -4px 4px #FF4D00;
}
body main #om-mig-hero {
  height: 600px;
  position: relative;
  display: flex;
  align-items: end;
}
@media screen and (max-width: 700px) {
  body main #om-mig-hero {
    height: auto;
    flex-direction: column;
    background-color: red;
  }
}
body main #om-mig-hero .hero-img-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 700px) {
  body main #om-mig-hero .hero-img-container {
    position: initial;
    height: 300px;
  }
}
body main #om-mig-hero .hero-img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #om-mig-hero #om-hero-tekst-boks {
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 50px;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  z-index: 1;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}
@media screen and (max-width: 700px) {
  body main #om-mig-hero #om-hero-tekst-boks {
    padding: 10px;
  }
}
@media screen and (max-width: 1100px) {
  body main #om-mig-hero #om-hero-tekst-boks {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #om-mig-hero #om-hero-tekst-boks {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 700px) {
  body main #om-mig-hero #om-hero-tekst-boks {
    max-width: none;
    margin-bottom: 0;
    width: 100%;
    border-radius: 0;
  }
}
body main #video-container {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  body main #video-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #video-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body main #video-container video {
  width: 100%;
  max-width: 900px;
  border: 1px solid #333333;
  border-radius: 5px;
}
body main #om-mig-fritid {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  height: 1100px;
}
@media screen and (max-width: 1100px) {
  body main #om-mig-fritid {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #om-mig-fritid {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1100px) {
  body main #om-mig-fritid {
    height: 800px;
  }
}
@media screen and (max-width: 700px) {
  body main #om-mig-fritid {
    grid-template-columns: 1fr;
    grid-template-rows: 800px auto;
    gap: 0;
    position: relative;
    height: auto;
  }
}
body main #om-mig-fritid #fritid-img-grid {
  grid-column: 1/2;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 700px) {
  body main #om-mig-fritid #fritid-img-grid {
    grid-row: 1/2;
  }
}
body main #om-mig-fritid #fritid-img-grid div:nth-of-type(1) {
  position: absolute;
  top: 0;
  right: 0;
  height: 500px;
  width: calc(100% - 100px);
  max-width: 400px;
  z-index: 3;
  border: 1px solid #333333;
  border-radius: 5px;
}
@media screen and (max-width: 1100px) {
  body main #om-mig-fritid #fritid-img-grid div:nth-of-type(1) {
    height: 400px;
    left: 0;
    right: initial;
  }
}
body main #om-mig-fritid #fritid-img-grid div:nth-of-type(1) img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #om-mig-fritid #fritid-img-grid div:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 400px;
  width: calc(100% - 100px);
  z-index: 2;
  border: 1px solid #333333;
  border-radius: 5px;
}
@media screen and (max-width: 1100px) {
  body main #om-mig-fritid #fritid-img-grid div:nth-of-type(2) {
    height: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
body main #om-mig-fritid #fritid-img-grid div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
body main #om-mig-fritid #fritid-img-grid div:nth-of-type(3) {
  position: absolute;
  bottom: 0;
  right: 50px;
  height: 500px;
  width: calc(100% - 100px);
  max-width: 400px;
  z-index: 1;
  border: 1px solid #333333;
  border-radius: 5px;
}
@media screen and (max-width: 1100px) {
  body main #om-mig-fritid #fritid-img-grid div:nth-of-type(3) {
    height: 350px;
    right: 0;
  }
}
body main #om-mig-fritid #fritid-img-grid div:nth-of-type(3) img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #om-mig-fritid #fritid-tekst-boks {
  grid-column: 2/3;
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 50px;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-self: center;
}
@media screen and (max-width: 700px) {
  body main #om-mig-fritid #fritid-tekst-boks {
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  body main #om-mig-fritid #fritid-tekst-boks {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: -50px;
    max-width: none;
    width: calc(100% - 10px);
    z-index: 2;
  }
}
body main #om-mig-hospo {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 50px;
}
@media screen and (max-width: 1100px) {
  body main #om-mig-hospo {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #om-mig-hospo {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 700px) {
  body main #om-mig-hospo {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0;
  }
}
body main #om-mig-hospo #hospo-tekst-boks {
  grid-column: 1/2;
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 50px;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-self: center;
}
@media screen and (max-width: 700px) {
  body main #om-mig-hospo #hospo-tekst-boks {
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  body main #om-mig-hospo #hospo-tekst-boks {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: -50px;
    z-index: 4;
    max-width: none;
    justify-self: end;
    width: calc(100% - 10px);
  }
}
body main #om-mig-hospo #hospo-img-grid {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  body main #om-mig-hospo #hospo-img-grid {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
body main #om-mig-hospo #hospo-img-grid div:nth-of-type(1) {
  justify-self: start;
  align-self: center;
  height: 400px;
  width: calc(100% - 100px);
  z-index: 1;
  border: 1px solid #333333;
  border-radius: 5px;
}
@media screen and (max-width: 1100px) {
  body main #om-mig-hospo #hospo-img-grid div:nth-of-type(1) {
    align-self: end;
  }
}
body main #om-mig-hospo #hospo-img-grid div:nth-of-type(1) img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #om-mig-hospo #hospo-img-grid div:nth-of-type(2) {
  justify-self: center;
  align-self: end;
  height: 300px;
  width: calc(100% - 100px);
  margin-top: -100px;
  z-index: 2;
  border: 1px solid #333333;
  border-radius: 5px;
}
@media screen and (max-width: 1100px) {
  body main #om-mig-hospo #hospo-img-grid div:nth-of-type(2) {
    align-self: center;
  }
}
body main #om-mig-hospo #hospo-img-grid div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #om-mig-hospo #hospo-img-grid div:nth-of-type(3) {
  justify-self: end;
  align-self: start;
  height: 350px;
  width: calc(100% - 100px);
  margin-top: -100px;
  z-index: 3;
  border: 1px solid #333333;
  border-radius: 5px;
}
body main #om-mig-hospo #hospo-img-grid div:nth-of-type(3) img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
body main #om-sidste-tekst-boks {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  body main #om-sidste-tekst-boks {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #om-sidste-tekst-boks {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body main #om-sidste-tekst-boks div {
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 50px;
  max-width: 900px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (max-width: 700px) {
  body main #om-sidste-tekst-boks div {
    padding: 10px;
  }
}
body main #kontakt-om-side {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1100px) {
  body main #kontakt-om-side {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #kontakt-om-side {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body main #kontakt-om-side #kontakt-om-side-img-container {
  height: 550px;
  width: calc(100% - 50px);
  justify-self: start;
  align-self: end;
  z-index: 1;
}
body main #kontakt-om-side #kontakt-om-side-img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #kontakt-om-side #kontakt-om-side-tekst-boks {
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 50px;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: -50px;
  z-index: 2;
}
@media screen and (max-width: 700px) {
  body main #kontakt-om-side #kontakt-om-side-tekst-boks {
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  body main #kontakt-om-side #kontakt-om-side-tekst-boks {
    margin-right: 50px;
  }
}
body main #kontakt-om-side #kontakt-om-side-tekst-boks a {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: #333333;
  color: #FAFAFA;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  box-shadow: 0 0 #FF4D00;
  transition: all 0.1s;
}
body main #kontakt-om-side #kontakt-om-side-tekst-boks a:hover {
  transform: translate(2px, -2px);
  box-shadow: -4px 4px #FF4D00;
}
body main #cases-hero {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  margin-bottom: 50px;
}
@media screen and (max-width: 1100px) {
  body main #cases-hero {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #cases-hero {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 700px) {
  body main #cases-hero {
    flex-direction: column;
  }
}
body main #cases-hero #cases-hero-heading {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 1px solid #333333;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  z-index: 1;
}
@media screen and (max-width: 700px) {
  body main #cases-hero #cases-hero-heading {
    margin-bottom: 0;
  }
}
body main #cases-hero #cases-hero-heading #cases-author {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 50px;
}
@media screen and (max-width: 700px) {
  body main #cases-hero #cases-hero-heading #cases-author {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
body main #cases-hero #cases-hero-heading #cases-author #portræt-img-container {
  height: 5em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #333333;
  overflow: hidden;
}
body main #cases-hero #cases-hero-heading #cases-author #portræt-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #cases-hero #cases-hero-heading #cases-author p {
  font-size: 1.5em;
}
body main #cases-hero #cases-hero-tekst-boks {
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 50px;
  max-width: none;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-self: end;
  margin-left: -50px;
  margin-top: 100px;
  z-index: 2;
}
@media screen and (max-width: 700px) {
  body main #cases-hero #cases-hero-tekst-boks {
    padding: 10px;
  }
}
@media screen and (max-width: 700px) {
  body main #cases-hero #cases-hero-tekst-boks {
    align-self: start;
    margin-left: 50px;
    margin-top: -50px;
  }
}
body main #alle-cases-container {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1100px) {
  body main #alle-cases-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #alle-cases-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 700px) {
  body main #alle-cases-container {
    flex-direction: column;
  }
}
body main #alle-cases-container .project {
  cursor: pointer;
  width: calc(50% - 25px);
  min-height: 450px;
  max-height: 450px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  grid-template-columns: 1fr;
  box-shadow: 0 0 0 0 #FF4D00;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}
@media screen and (max-width: 700px) {
  body main #alle-cases-container .project {
    width: 100%;
  }
}
body main #alle-cases-container .project:hover {
  transform: translate(5px, -5px);
  box-shadow: -10px 10px 0px 0px #FF4D00;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
body main #alle-cases-container .project .project-img-container {
  grid-row: 1/2;
  grid-column: 1/2;
}
body main #alle-cases-container .project .project-img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #alle-cases-container .project .project-window-text {
  grid-row: 2/3;
  grid-column: 1/2;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  padding: 20px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  color: #333333;
  background-color: #FAFAFA;
}
@media screen and (max-width: 700px) {
  body main #alle-cases-container .project .project-window-text {
    padding: 10px;
  }
}
body main #alle-cases-container .project .project-window-text p {
  transition: transform 0.3s;
}
body main #alle-cases-container .project .project-window-text p:nth-of-type(1) {
  font-size: 2em;
  font-weight: bold;
}
body main #alle-cases-container .project .project-window-text p:nth-of-type(3) {
  position: absolute;
  visibility: hidden;
}
body main #alle-cases-container .project:hover .project-window-text {
  height: 100%;
  grid-row: 1/3;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  justify-content: center;
  border-radius: 5px;
}
body main #alle-cases-container .project:hover .project-window-text p {
  transform: translateY(-20px);
}
@media screen and (max-width: 700px) {
  body main #alle-cases-container .project:hover .project-window-text p {
    transform: translateY(-10px);
  }
}
body main #alle-cases-container .project:hover .project-window-text p:nth-of-type(3) {
  position: initial;
  visibility: visible;
}
body main #alle-cases-container .project:hover .project-img-container {
  grid-row: 1/3;
}
body main #cases-kontakt {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1100px) {
  body main #cases-kontakt {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #cases-kontakt {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body main #cases-kontakt #cases-kontakt-img-container {
  width: calc(100% - 50px);
  height: 550px;
  z-index: 1;
}
body main #cases-kontakt #cases-kontakt-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #cases-kontakt #cases-kontakt-tekst-boks {
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 50px;
  max-width: 500px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-self: end;
  margin-top: -50px;
  z-index: 2;
}
@media screen and (max-width: 700px) {
  body main #cases-kontakt #cases-kontakt-tekst-boks {
    padding: 10px;
  }
}
body main #cases-kontakt #cases-kontakt-tekst-boks a {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background-color: #333333;
  color: #FAFAFA;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  box-shadow: 0 0 #FF4D00;
  transition: all 0.1s;
}
body main #cases-kontakt #cases-kontakt-tekst-boks a:hover {
  transform: translate(2px, -2px);
  box-shadow: -4px 4px #FF4D00;
}
body main #kontakt-sektion {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  body main #kontakt-sektion {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 700px) {
  body main #kontakt-sektion {
    padding-left: 10px;
    padding-right: 10px;
  }
}
body main #kontakt-sektion #kontakt-img-container {
  width: 50%;
  aspect-ratio: 1/1;
}
body main #kontakt-sektion #kontakt-img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body main #kontakt-sektion #kontakt-tekst-boks {
  background-color: #FAFAFA;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 50px;
  max-width: none;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: -50px;
}
@media screen and (max-width: 700px) {
  body main #kontakt-sektion #kontakt-tekst-boks {
    padding: 10px;
  }
}
body main #kontakt-sektion #kontakt-tekst-boks #contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body footer {
  grid-row: 3/4;
}/*# sourceMappingURL=style.css.map */